<nav>
    <div class="gridNavigation">
        <div class="navigation"><a href="/dashboard">Dashboard</a></div>
        <div class="navigation"><a href="/logout">Logout</a></div>
    </div>
</nav>
</header>