<%- include('shared/header.ejs') %>
<h1 class="textCenter">Login</h1>
<form action="verifyLogin" method="POST">
    <label for="username">UserName</label>
    <input type="text" name="username">
    <label for="password">Password</label>
    <input type="password" name="password">
    <input type="submit" value="Submit">
    <!-- <p></p> -->
</form>
<%- include('shared/footer.ejs') %>