<%- include('shared/header') %>
<%- include('shared/navigation.ejs') %>
<p class="textCenter">Thank you for submission of your request.</p>
<p class="textCenter">Expect hearing from us soon.</p>
<%- include('shared/footer') %>